
/* 
body{
    height: 100vh;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
} */





.navBar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--background);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar .sidebarOpen{
    color: var(--foreground);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

.navBar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--foreground);
    text-decoration: none;
}

.logo{
    width: 50px;
    height: 50px;
}

.menu .logoToggle{
    display: none;
}

.navBar .navLinks{
    display: flex;
    align-items: center;
}

.navBar .navLinks li{
    margin: 0 5px;
    list-style: none;
}

.navLinks li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--foreground);
    text-decoration: none;
    padding: 10px;
}

/* .navLinks li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 2px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--foreground);
    opacity: 0;
    transition: all 0.3s ease;
}

.navLinks li:hover a::before{
    opacity: 1;
} */

.navBar {
    display: flex;
    align-items: center;
}


@media (max-width: 768px) {
    .navBar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--gray);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: 0%;
    }

    /* Makes logo disappear from right side */
    nav.active .navBar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logoToggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logoToggle .siderbarClose{
        color: var(--foreground);
        font-size: 24px;
        cursor: pointer;
    }

    .navBar .navLinks{
        flex-direction: column;
        padding-top: 30px;
    }

    .navLinks li a{
        display: block;
        margin-top: 20px;
    }
}